* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(assets/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#head {
    font-size: 2vh;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #a9ba9d;
    border-radius: 50%;
    width: 30%;
    height: auto;
    color: #e9ffdb;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 2px solid #21421e;
    box-shadow: 0px 0px 40px 10px #78866b;
}

#board {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 60vh;
    height: 60vh;
    background-color: #a9ba9d;
    display: grid;
    grid-template-columns: 5% repeat(8, 11.25%) 5%;
    grid-template-rows: 5% repeat(8, 11.25%) 5%;
    border: 2px solid #21421e;
    grid-gap: 0px;
    box-shadow: 0px 0px 40px 10px #78866b;
    justify-content: center;
}    

.white,
.black {
    border: 0.3px solid #21421e;
    font-size: 6vh;
    display: grid;
    justify-items: center;
    align-content: center;
}

.white {
    background-color: white;
}

.black {
    background-color: #d8e4bc;
}

.top-letter,
.bottom-letter,
.left-number,
.right-number {
    margin: 0;
    padding: 5px;
    font-size: 2vh;
    color: #21421e;
    display: flex;
}

.top-letter,
.bottom-letter {
    justify-content: space-evenly;
}

.top-letter {
    align-items: flex-end;
}

.bottom-letter {
    align-items: flex-start;
}

.left-number,
.right-number {
    align-items: center;
} 

.left-number {
    justify-content: flex-end;
}

.right-number {
    justify-content: flex-start;
}

#e2 {
    animation: move-up-2 3s;
    animation-fill-mode: forwards;
}

#e7 {
    animation: move-down-2 3s 3s, kill 2s 26s;
    animation-fill-mode: forwards;
}

#f1 {
    animation: move-up-left-3 3s 6s, move-up-right-3-2 3s 36s;
    animation-fill-mode: forwards;
}

#d7 {
    animation: move-down-1 3s 9s;
    animation-fill-mode: forwards;
}

#g1 {
    animation: move-up-left-long 3s 12s, move-up-left-long-2 3s 24s;
    animation-fill-mode: forwards;
}

#c8 {
    animation: move-down-right-4 3s 15s, move-down-left-4-2 3s 30s;
    animation-fill-mode: forwards;
}

#b1 {
    animation: move-up-right-long 3s 18s, move-up-right-long-2 3s 42s;
    animation-fill-mode: forwards;
}

#g7 {
    animation: move-down-1 3s 21s;
    animation-fill-mode: forwards;
}

#d1 {
    animation: kill 2s 32s;
    animation-fill-mode: forwards;
}

#f7 {
    animation: kill 2s 37s;
    animation-fill-mode: forwards;
}

#e8 {
    animation: move-down-1 3s 39s, defeat 1s 45s;
    animation-fill-mode: forwards;
}

@keyframes move-up-1 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-6vh);
    }
}

@keyframes move-up-2 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-13vh);
    }
}

@keyframes move-down-1 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(6vh);
    }
}

@keyframes move-down-2 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(13vh);
    }
}

@keyframes move-up-left-3 {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-19vh, -19vh);
    }
}

@keyframes move-up-left-long {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-6vh, -13vh);
    }
}

@keyframes move-up-right-long {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(6vh, -13vh);
    }
}

@keyframes move-down-left-4 {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-25vh, 25vh);
    }
}

@keyframes move-down-right-4 {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(25vh, 25vh);
    }
}

@keyframes move-up-left-long-2 {
    from {
        transform: translate(-6vh, -13vh)
    }
    to {
        transform: translate(-13vh, -25vh)
    }
}

@keyframes move-down-left-4-2 {
    0% { 
        transform: translate(-25vh, 25vh); 
    }
    100% { 
        transform: translate(6vh, 44vh); 
    }
}

@keyframes move-up-right-3-2 {
    from {
        transform: translate(-19vh, -19vh);
    }
    to {
        transform: translate(0vh, -38vh);
    }
}

@keyframes move-up-right-long-2 {
    from {
        transform: translate(6vh, -13vh);
    }
    to {
        transform: translate(12vh, -25vh);
    }
}

@keyframes kill {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes defeat {
    from {
        box-shadow: 0px 0px 0px 0px;
    }
    to {
        box-shadow: 0px 0px 35px 5px red;
        border-radius: 80px;
    }
}
